{% extends "base.html" %}
{% set title = "Создание товара" %}
{% block content %}
<div class="row">

    <h5>Создание товара</h5>
    <form action="" method="post" enctype="multipart/form-data">
        Марка
        <input name="mark" type="text">
        Модель
        <input name="model" type="text">
        Категория
        <input name="category" type="text">
        маркировка
        <input name="article" type="text">
        Цена
        <input name="cost" type="text">

        <input name="image" type="file">
    
        <input type="submit" value="Создать товар">
    
    </form>

    <table>
        {% for good in goods %}
            <tr>
                <td>{{good.id}}</td>
                <td>{{good.mark}}</td>
                <td>{{good.model}}</td>
                <td>{{good.category}}</td>
                <td>{{good.cost}}</td> 
                <td>{{good.image}}</td>
                <td><a href="goods/{{good.id}}">Редактировать</a></td>
            </tr> 
        {% endfor %}
    </table>
</div>
    
    
{% endblock %}