<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>
    <meta name="description" content="A simple HTML5 Template for new projects.">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/base.css"/>
    <link rel="stylesheet" href="/assets/images/service/icons/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
  <header>
    <div class="header">
      <a class="base_link" href="/">
        Главная
      </a>
      <a class="base_link" href="/catalog">
        Каталог
      </a>
      <!-- <a class="base_link" href="/users">
          Пользователи
      </a> -->
      {% if user.username == null %}
      <a class="base_link" href="/login">
        Войти
      </a>
      {% else %}
      <a class="base_link" href="/logout">
        Выйти
      </a>
      {% endif %}
      
      <a class="base_link" href="/lk">
          Личный кабинет
      </a>
    </div>
  </header>
  <main>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <footer>
  </footer>
    <div class="footer">
      <div class="container">
      </div>
    </div>
  </body>
</html>


